<h1>Array of [{{arr}}]</h1>
<p>The highest number on list: {{ highest_num }}</p>
<p>Summation of constant {{ constant  }} with the highest number on list is <span style="color:blue;">{{ highest }}</span>.</p>


